!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
 %head
  %title IFUNAM - Helpdesk 
  %meta{"http-equiv" => "content-type", "content" => "text/html; charset=ISO-8859-1"}
  %meta{"http-equiv" => "content-language", "content" => "en"}
  %meta{"http-equiv" => "description", "content" => " "}
  %meta{"http-equiv" => "keywords", "content" => " "}
  %meta{"http-equiv" => "author", "content" => "Goz"}
  %meta{"http-equiv" => "copyright", "content" => " "}
  %link{"rel" => "stylesheet", "type" => "text/css", "href" => "http://fonts.googleapis.com/css?family=Montserrat"}
  %link{"rel" => "shortcut icon", "href" => "/assets/favicon.ico"}
  = stylesheet_link_tag "application"
 %body
  %div#wrapper
   %div#header1
    %div#logo
    %div#title
     Helpdesk
   %div#header2
   %div#main_content
    %div#left_menu
     %ul
      %li 
       = link_to 'Inicio', home_path
      %li 
       %a{:href => "#"}Secretar&iacute;a Administrativa
      %li 
       %a{:href => "#"}Coordinaci&oacute;n Docente
      %li 
       %a{:href => "#"}Soporte en C&oacute;mputo
      %li
       %a{:href => "#"}Soporte en Electr&oacute;nica 
      %li
       = link_to 'Salir', :controller => "user_sessions", :action => "destroy" 
    %div#content
     = yield      
   %div#footer
    Instituto de F&iacute;sica UNAM - 2012
   %div.clear
